Repository apache/incubator-heron, pull requests merged in 2020-06, with the labels that each got.

#3541 Embedded Trykker font
  heron/tools/ui/resources/static/css/main.css
  heron/tools/ui/resources/static/fonts/trykker-v8-latin-ext_latin-regular.eot
  heron/tools/ui/resources/static/fonts/trykker-v8-latin-ext_latin-regular.svg
  heron/tools/ui/resources/static/fonts/trykker-v8-latin-ext_latin-regular.ttf
  heron/tools/ui/resources/static/fonts/trykker-v8-latin-ext_latin-regular.woff
  heron/tools/ui/resources/static/fonts/trykker-v8-latin-ext_latin-regular.woff2
Labels: ui

#3546 Updated Docusaurus config to ignore Javadocs CSS
  .gitignore
  website2/.gitignore
  website2/website/Makefile
  website2/website/scripts/build-site.sh
  website2/website/scripts/javadocs.sh
  website2/website/siteConfig.js
Labels: website

#3544 Update api_constants.py
  heronpy/api/api_constants.py
Labels: PyHeron

#3547 Updated to make website look better on mobile
  website2/website/pages/en/index.js
Labels: website
