Repository apache/incubator-heron, pull requests merged in 2020-07, with the labels that each got.

#3552 Distribution Dockerfile missing ncat and other cleanup
  docker/dist/Dockerfile.dist.centos7
  docker/dist/Dockerfile.dist.debian10
  docker/dist/Dockerfile.dist.debian9
  docker/dist/Dockerfile.dist.ubuntu14.04
  docker/dist/Dockerfile.dist.ubuntu16.04
  docker/dist/Dockerfile.dist.ubuntu18.04
  docker/dist/Dockerfile.dist.ubuntu20.04
Labels: Docker

#3549 Fixing over optimization that stops Return Value Optimization
  heron/tmaster/src/cpp/manager/tmaster.cpp
Labels: tmaster

#3553 Adding missing baseUrl
  heron/tools/ui/resources/static/js/stat-trendlines.js
Labels: ui

#3550 Updates to Kubernetes scheduler to fix edge cases
  WORKSPACE
  examples/src/java/BUILD
  heron/executor/src/python/heron_executor.py
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/KubernetesCompat.java
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/KubernetesScheduler.java
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/V1Controller.java
  heron/stmgr/src/cpp/manager/ckptmgr-client.cpp
  heron/stmgr/tests/cpp/server/stateful-restorer_unittest.cpp
  maven_install.json
Labels: Kubernetes

#3572 fix jenkins doc
  website2/website/scripts/Dockerfile.ubuntu18.04
  website2/website/scripts/python-doc-gen.sh
Labels: website

#3571 Updated Bookkeeper to 4.11.0
  WORKSPACE
  deploy/kubernetes/general/apiserver.yaml
  deploy/kubernetes/general/bookkeeper.statefulset.yaml
  deploy/kubernetes/general/bookkeeper.statefulset_empty.yaml
  deploy/kubernetes/general/bookkeeper.yaml
  deploy/kubernetes/helm/templates/bookie.yaml
  deploy/kubernetes/helm/values.yaml.template
  deploy/kubernetes/minikube/apiserver.yaml
  deploy/kubernetes/minikube/bookkeeper.yaml
  maven_install.json
  scripts/travis/k8s.sh
Labels: Kubernetes, dependencies

#3576 Upgrade to Bazel 3.4.1
  .travis.yml
  README.md
  WORKSPACE
  docker/compile/Dockerfile.centos7
  docker/compile/Dockerfile.debian10
  docker/compile/Dockerfile.debian9
  docker/compile/Dockerfile.ubuntu14.04
  docker/compile/Dockerfile.ubuntu16.04
  docker/compile/Dockerfile.ubuntu18.04
  docker/compile/Dockerfile.ubuntu20.04
  docker/test/Dockerfile.centos7
  docker/test/Dockerfile.ubuntu18.04
  eco/src/java/org/apache/heron/eco/builder/ObjectBuilder.java
  scripts/ci/setup_bazel.sh
  vagrant/init.sh
  website2/docs/compiling-osx.md
  website2/website/scripts/Dockerfile.ubuntu18.04
  website2/website/scripts/replace.js
Labels: build

#3589 Reorder the init containers in the Helm chart
  deploy/kubernetes/helm/templates/bookie.yaml
Labels: Kubernetes

#3592 Fix for misisng JDK tools
  docker/dist/Dockerfile.dist.debian10
  docker/dist/Dockerfile.dist.debian9
  docker/dist/Dockerfile.dist.ubuntu14.04
  docker/dist/Dockerfile.dist.ubuntu16.04
  docker/dist/Dockerfile.dist.ubuntu18.04
  docker/dist/Dockerfile.dist.ubuntu20.04
Labels: Docker, Kubernetes

#3596 Updating docker build for fixing python library click issue
  docker/dist/Dockerfile.dist.debian10
  docker/dist/Dockerfile.dist.debian9
  docker/dist/Dockerfile.dist.ubuntu16.04
  docker/dist/Dockerfile.dist.ubuntu18.04
  docker/dist/Dockerfile.dist.ubuntu20.04
Labels: Docker

#3595 Switch to pigz to support multi-core tar command
  docker/scripts/build-artifacts.sh
  docker/scripts/build-docker.sh
  docker/scripts/build-exec-docker.sh
Labels: build
