Repository apache/incubator-heron, pull requests merged in 2022-01, with the labels that each got.

#3752 Kubernetes V1Controller Cleanup
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/KubernetesUtils.java
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/V1Controller.java
  heron/schedulers/tests/java/org/apache/heron/scheduler/kubernetes/V1ControllerTest.java
Labels: Kubernetes

#3753 Updated External JVM Rules plugin
  WORKSPACE
  maven_install.json
Labels: build

#3754 Updated Kubernetes client library to 14.0.0
  WORKSPACE
  heron/schedulers/src/java/org/apache/heron/scheduler/kubernetes/V1Controller.java
  heron/schedulers/tests/java/org/apache/heron/scheduler/kubernetes/V1ControllerTest.java
  maven_install.json
  third_party/java/BUILD
Labels: Kubernetes

#3758 Helm chart cleanup
  WORKSPACE
  deploy/kubernetes/helm/BUILD
  deploy/kubernetes/helm/Chart.yaml.template
  scripts/packages/BUILD
Labels: Kubernetes

#3759 HeronPy 0.20.5 release prep cleanup
  scripts/packages/BUILD
  scripts/packages/heronpy/setup.py.template
Labels: PyHeron

#3760 libunwind 1.5.0 Upgrade
  WORKSPACE
Labels: build, dependencies

#3761 Ubuntu 22.04 Support
  docker/compile/Dockerfile.ubuntu22.04
  third_party/gperftools/gperftools.BUILD
Labels: enhancement, build, dependencies

#3764 Upgrade to Bazel 4.2.2
  .bazelversion
  .travis.yml
  README.md
  docker/compile/Dockerfile.centos7
  docker/compile/Dockerfile.debian10
  docker/compile/Dockerfile.ubuntu18.04
  docker/compile/Dockerfile.ubuntu20.04
  docker/compile/Dockerfile.ubuntu22.04
  docker/test/Dockerfile.centos7
  docker/test/Dockerfile.ubuntu18.04
  scripts/ci/setup_bazel.sh
  vagrant/init.sh
  website2/docs/compiling-osx.md
  website2/website/scripts/Dockerfile.ubuntu18.04
  website2/website/scripts/replace.js
Labels: build

#3765 Updated Google Test which now supports Bazel
  WORKSPACE
  third_party/gtest/gtest.BUILD
Labels: build
