Repository apache/incubator-heron, pull requests merged in 2022-04, with the labels that each got.

#3809 Add SLF4JBridgeHandler
  eco/src/java/org/apache/heron/eco/Eco.java
  heron/api/src/java/BUILD
  heron/api/src/java/org/apache/heron/api/utils/Slf4jUtils.java
  heron/ckptmgr/src/java/org/apache/heron/ckptmgr/CheckpointManager.java
  heron/downloaders/src/java/BUILD
  heron/downloaders/src/java/org/apache/heron/downloader/DownloadRunner.java
  heron/healthmgr/src/java/org/apache/heron/healthmgr/HealthManager.java
  heron/instance/src/java/shade.conf
  heron/metricscachemgr/src/java/org/apache/heron/metricscachemgr/MetricsCacheManager.java
  heron/metricscachemgr/src/java/org/apache/heron/metricscachemgr/MetricsCacheManagerHttpServer.java
  heron/metricsmgr/src/java/org/apache/heron/metricsmgr/MetricsManager.java
  heron/scheduler-core/src/java/org/apache/heron/scheduler/RuntimeManagerMain.java
  heron/scheduler-core/src/java/org/apache/heron/scheduler/SchedulerMain.java
  heron/scheduler-core/src/java/org/apache/heron/scheduler/SubmitterMain.java
  heron/statemgrs/src/java/org/apache/heron/statemgr/localfs/LocalFileSystemStateManager.java
  heron/statemgrs/src/java/org/apache/heron/statemgr/zookeeper/curator/CuratorStateManager.java
  heron/tools/apiserver/src/java/org/apache/heron/apiserver/Runtime.java
  scripts/travis/test.sh
  third_party/java/BUILD
  third_party/java/logback.xml
  tools/java/src/org/apache/bazel/checkstyle/BUILD
Labels: dependencies

#3798 Replace Helm chart's generic Bookkeeper platform property with specific properties
  deploy/kubernetes/helm/templates/bookie.yaml
  deploy/kubernetes/helm/values.yaml.template
Labels: Kubernetes

#3818 Support legacy api of HealthManger
  heron/healthmgr/src/java/org/apache/heron/healthmgr/sensors/MetricsCacheMetricsProvider.java
  heron/healthmgr/src/java/org/apache/heron/healthmgr/sensors/TrackerMetricsProvider.java
  heron/tools/tracker/src/python/metricstimeline.py
  heron/tools/tracker/src/python/routers/metrics.py
  website2/docs/topology-development-topology-api-python.md
  website2/website/versioned_docs/version-0.20.0-incubating/topology-development-topology-api-python.md
  website2/website/versioned_docs/version-0.20.2-incubating/topology-development-topology-api-python.md
Labels: bug, ui

#3819 Fix HealthManager
  heron/healthmgr/src/java/org/apache/heron/healthmgr/HealthManager.java
  heron/tools/tracker/src/python/BUILD
  heron/tools/tracker/src/python/app.py
  heron/tools/tracker/src/python/metricstimeline.py
  heron/tools/tracker/src/python/query_operators.py
  heron/tools/tracker/src/python/routers/metrics.py
  heron/tools/tracker/src/python/topology.py
  heron/tools/tracker/src/python/utils.py
  heron/tools/ui/resources/static/js/topologies.js
  heron/tools/ui/src/python/main.py
Labels: bug, tracker, ui
